.marquee-text {
  overflow: clip;
}

.marquee-text-track {
  display: flex;
  padding-left: 0.5rem;
  gap: 0.5rem;
  width: max-content;
  animation: marquee-move-text var(--speed, 15s) linear infinite
    var(--direction, forwards);
}

.marquee-text p {
  padding: 1rem 2.5rem;
}

@keyframes marquee-move-text {
  to {
    transform: translateX(-50%);
  }
}
